<section class="content">
        
    <div class="col-md-12">
        
        <form [formGroup]="formCad" (ngSubmit)="submit()">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ title }}</h3>
                </div>

                <div class="box-body">
                    <div class="col-md-6">

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#pt">Português</a></li>
                            <li><a data-toggle="tab" href="#es">Español</a></li>
                            <li><a data-toggle="tab" href="#en">English</a></li>                        
                        </ul>
    
                        <div class="tab-content">
                            <div id="pt" class="tab-pane fade in active">
                                <app-arrecadacao-form *ngIf="arrecadacao"
                                    [titleStr]="arrecadacao.title"
                                    [descriptionStr]="arrecadacao.description"
                                    (title)="setTitle($event)"
                                    (description)="setDescription($event)"
                                    (subtitleValue)="setSubTitleValue($event)"
                                    (subtitleSpent)="setSubTitleSpent($event)">

                                </app-arrecadacao-form>
                            </div>
                            <div id="es" class="tab-pane">
                                <app-arrecadacao-form *ngIf="arrecadacao"
                                    [titleStr]="arrecadacao.title_es"
                                    [descriptionStr]="arrecadacao.description_es"
                                    (title)="setTitleEs($event)"
                                    (description)="setDescriptionEs($event)"
                                    titleLabel="Título"
                                    descriptionLabel="Descripción"
                                    subtitleValueLabel="Título recopilado"
                                    subtitleSpentLabel="Título de gastos"
                                    (subtitleValue)="setSubTitleValueEs($event)"
                                    (subtitleSpent)="setSubTitleSpentEs($event)">

                                </app-arrecadacao-form>
                            </div>
                            <div id="en" class="tab-pane">
                                <app-arrecadacao-form *ngIf="arrecadacao"
                                    [titleStr]="arrecadacao.title_en"
                                    [descriptionStr]="arrecadacao.description_en"
                                    (title)="setTitleEn($event)"
                                    (description)="setDescriptionEn($event)"
                                    titleLabel="Title"
                                    descriptionLabel="Description"
                                    subtitleValueLabel="Collection caption"
                                    subtitleSpentLabel="Expense caption"
                                    (subtitleValue)="setSubTitleValueEn($event)"
                                    (subtitleSpent)="setSubTitleSpentEn($event)">

                                </app-arrecadacao-form>>
                            </div>
                        </div>    
    
                        
    
                        <app-input errorMessage="Este campo é obrigatório" [showTip]="false">
                            <label for="minimo">Valor Arrecadado</label>
                            <input  currencyMask class="form-control" formControlName="value" placeholder="0,00" [options]="options">
                        </app-input>
    
    
                        <app-input errorMessage="Este campo é obrigatório" [showTip]="false">
                            <label for="minimo">Despesa</label>
                            <input currencyMask class="form-control" formControlName="spent" placeholder="0,00" [options]="options">
                        </app-input>                   

                    </div>

                </div>

                <div class="box-footer clearfix">
                    <button class="btn btn-primary" type="submit" [disabled]="formCad.invalid"> <i class="fa fa-save"></i> Salvar</button>
                </div>


            </div>
        </form>    

    </div>

</section>
