<section class="content">
        
    <div class="col-md-12">
        
        <form [formGroup]="formCad">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ title }}</h3>
                    
                    <div class="box-tools">
                        <a [routerLink]="[]" class="btn btn-success" (click)="voltar()" >
                            <i class="fa fa-mail-reply"></i> Voltar
                        </a>
                    </div>
                </div>

                <div class="box-body">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#pt">Português</a></li>
                        <li><a data-toggle="tab" href="#es">Español</a></li>
                        <li><a data-toggle="tab" href="#en">English</a></li>                        
                    </ul>

                    <div class="tab-content">
                        <div id="pt" class="tab-pane fade in active">
                            <app-area-form-pt *ngIf="area; else addPt"  
                                [titleStr]="area.title" 
                                [descriptionStr]="area.description" 
                                [short_textStr]="area.short_text"
                                [logoStr]="area.logo"
                                (title)="setTitle($event)"
                                (description)="setDescription($event)"
                                (short_text)="setShortText($event)"
                                (logo)="setLogo($event)">
                            </app-area-form-pt>

                            <ng-template #addPt >
                                <app-area-form-pt 
                                    (title)="setTitle($event)"
                                    (description)="setDescription($event)"
                                    (short_text)="setShortText($event)"
                                    (logo)="setLogo($event)">
                                </app-area-form-pt>
                            </ng-template>
                            
                        </div>
                        <div id="es" class="tab-pane fade">
                            <app-area-form-pt *ngIf="area; else addEs" 
                                [titleStr]="area.title_es" 
                                [descriptionStr]="area.description_es" 
                                [short_textStr]="area.short_text_es"
                                [logoStr]="area.logo_es"
                                titleLabel="Título "
                                descriptionLabel="Descripción"
                                shortTextLabel="Texto corto"
                                (title)="setTitleEs($event)"
                                (description)="setDescriptionEs($event)"
                                (short_text)="setShortTextEs($event)"
                                (logo)="setLogoEs($event)">
                            </app-area-form-pt>
                            <ng-template #addEs >
                                <app-area-form-pt *ngIf="area"                                 
                                    titleLabel="Título "
                                    descriptionLabel="Descripción"
                                    shortTextLabel="Texto corto"
                                    (title)="setTitleEs($event)"
                                    (description)="setDescriptionEs($event)"
                                    (short_text)="setShortTextEs($event)"
                                    (logo)="setLogoEs($event)">
                            </app-area-form-pt>
                            </ng-template>
                        </div>
                        <div id="en" class="tab-pane fade">
                            <app-area-form-pt *ngIf="area; else addEn" 
                                [titleStr]="area.title_en" 
                                [descriptionStr]="area.description_en" 
                                [short_textStr]="area.short_text_en"
                                [logoStr]="area.logo_en"
                                titleLabel="Title"
                                descriptionLabel="Description"
                                shortTextLabel="Short text"
                                (title)="setTitleEn($event)"
                                (description)="setDescriptionEn($event)"
                                (short_text)="setShortTextEn($event)"
                                (logo)="setLogoEn($event)">
                            </app-area-form-pt>
                            <ng-template #addEn> 
                                <app-area-form-pt 
                                
                                    titleLabel="Title"
                                    descriptionLabel="Description"
                                    shortTextLabel="Short text"
                                    (title)="setTitleEn($event)"
                                    (description)="setDescriptionEn($event)"
                                    (short_text)="setShortTextEn($event)"
                                    (logo)="setLogoEn($event)">
                                </app-area-form-pt>
                            </ng-template>
                               
                        </div>
                    </div>   
                    
                    <div class="row"></div>
                    <app-input errorMessage="Este campo é obrigatório" [showTip]="false">
                        <label for="ordem">Ordem</label>
                        <input type="number" min="0" class="form-control" placeholder="Ordem" formControlName="order_area"/>
                    </app-input>

                    <app-input errorMessage="Este campo é obrigatório" [showTip]="false">
                        <label for="maximo">URL</label>
                        <input  class="form-control" placeholder="URL" formControlName="url"  />
                    </app-input>

                    

                    <div class="row"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="minimo">Ícone</label>
                            <input type="file"  (change)="fileChangeEvent1($event)" accept="image/x-png,image/gif,image/jpeg">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <img [src]="imgIcon" width="50" *ngIf="imgIcon" />
                    </div>
                    <div class="row"></div>

                    <app-input errorMessage="Este campo é obrigatório" [showTip]="false">
                        <label for="minimo">Pai</label>
                        <select  formControlName="parent_id"  class="form-control">
                            <option *ngFor="let item of items" [value]="item.id">{{ item.title }}</option>
                        </select>
                    </app-input>


                </div>

                <div class="box-footer clearfix">
                    <button class="btn btn-primary" (click)="salvar()" [disabled]="formCad.invalid"> <i class="fa fa-save"></i> Salvar</button>
                </div>


            </div>
        </form>    

    </div>

</section>
