<section class="content">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Gerenciamento de Área</h3>
                <div class="row"></div>
               

                <div class="box-tools">
                    <a [routerLink]="['/area/cad']" class="btn btn-success"  >
                        <i class="fa fa-plus"></i> Novo 
                    </a>
                </div>
            </div>
            
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-hover" >
                    <thead>
                        <th>Título</th>                          
                        <th>Ordem</th>                          
                        <th>URL</th>                          
                        <th>Ícone</th>                          
                        <th>Pai</th>                          
                        <th style="width: 80px">Ação</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of items">
                            <td>{{ obj.title }}</td>
                            <td>{{ obj.order_area }}</td>
                            <td>{{ obj.url }}</td>
                            <td>
                                
                                <img *ngIf="obj.icon" [src]="host +'/'+obj.icon" width="25">
                            </td>
                            <td>{{ obj.pai }}</td>
                            <td>
                                <a [routerLink]="['/area/edit', obj.id]" title="Editar" >
                                    <i class="fa  fa-edit"></i>
                                </a>
                                &nbsp;
                                <a [routerLink]="[]" title="Remover" (click)="perguntaRemover( obj )">
                                    <i class="fa  fa-remove text-danger"></i>
                                </a>
                                &nbsp;
                                <a [routerLink]="['/area/equipe', obj.id]" title="Equipe" >
                                    <i class="fa  fa-bars text-danger"></i>
                                </a>
                              
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              
            </div>
        </div>
        <!-- /.box -->

        
        
        
        <!-- /.col -->
    </div>
</section>
<!-- content -->
