<section class="content">
    
    <div class="row"></div>
    <div class="col-md-12">
        <form [formGroup]="formCad" (ngSubmit)="submit()">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ title }}</h3>
                </div>

                <div class="box-body">
                    

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#pt">Portugês</a></li>
                        <li><a data-toggle="tab" href="#es">Español</a></li>
                        <li><a data-toggle="tab" href="#en">English</a></li>                        
                    </ul>

                    <div class="tab-content">
                        <div id="pt" class="tab-pane fade in active">

                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <app-tema-form-pt *ngIf="tema" [objTema]="tema" (tema)="getTema($event)" (logo)="getLogo($event)" (description)="getDescription($event)" (textBtn)="getTextBtn($event)"></app-tema-form-pt>

                                </div>
                              </div>

                        </div>

                        <div id="es" class="tab-pane fade">
                            
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <app-tema-form-es *ngIf="tema" [objTema]="tema" (tema)="getTemaEs($event)" (logo)="getLogoEs($event)" (description)="getDescriptionEs($event)" (textBtn)="getTextBtnEs($event)"></app-tema-form-es>

                                </div>
                              </div>

                        </div>

                        <div id="en" class="tab-pane fade">
                            
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <app-tema-form-en *ngIf="tema" [objTema]="tema" (tema)="getTemaEn($event )" (logo)="getLogoEn($event)" (description)="getDescriptionEn($event)" (textBtn)="getTextBtnEn($event)"></app-tema-form-en>

                                </div>
                              </div>

                        </div>

                    </div>
                    
                    <div class="row"></div>

                    <div class="col-md-6 col-xs-12">

                        <div class="form-group">
                            
                            <label for="minimo">Imagem</label>
                            <input type="file"   (change)="fileChangeEventImg($event)" accept="image/x-png,image/gif,image/jpeg">
                        
                        </div>
    
                        <div class="col-md-12">
                            <img [src]="imgImage" *ngIf="imgImage" width="250">
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            
                            <label for="minimo">Imagem para dispositivos menores</label>
                            <input type="file"   (change)="fileChangeEventImgSmall($event)" accept="image/x-png,image/gif,image/jpeg">
                        
                        </div>
    
                        <div class="col-md-12">
                            <img [src]="imgImageSmall" *ngIf="imgImageSmall" width="250">
                        </div>
                    </div>

                

                </div>

                <div class="box-footer clearfix">
                    <button class="btn btn-primary" type="submit" [disabled]="formCad.invalid"> <i class="fa fa-save"></i> Salvar</button>
                </div>


            </div>
        </form>

    </div>

</section>
