<section class="content">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Gerenciamento de Redes Sociais</h3>
                <div class="row"></div>
               

                <div class="box-tools">
                    <a [routerLink]="['/redes-sociais/cad']" class="btn btn-success"  >
                        <i class="fa fa-plus"></i> Novo 
                    </a>
                </div>
            </div>
            
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-hover" >
                    <thead>
                        <th>Rede</th>
                        <th>URL</th>
                        <th style="width: 80px">Ação</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of items">
                            <td>{{ obj.rede }}</td>
                            <td>{{ obj.url }}</td>                            
                            <td>
                                <a [routerLink]="['/redes-sociais/edit', obj.id]" title="Editar" >
                                    <i class="fa  fa-edit"></i>
                                </a>
                                &nbsp;
                                <a [routerLink]="[]" title="Remover" (click)="perguntaRemover( obj )">
                                    <i class="fa  fa-remove text-danger"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              
            </div>
        </div>
        <!-- /.box -->

        
        
        
        <!-- /.col -->
    </div>
</section>
<!-- content -->
